/* Your styles here */

/* Font da utilizzare*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans&display=swap');

font-family: 'Montserrat', sans-serif;

/*Body*/


body {
        margin: 0 auto;
        padding: 0;
        font-family: 'Open Sans', sans-serif;
        background-color: #393d41;
        font-size: 1.2rem;
        line-height: 1.65;
        text-align: center;
}

/*Header*/
#logo {

    
    width: 35%;
    
}
header {


    background-color: black;
}

header img {
    width: 50%;
    margin: 20px 120px;
}

/*Main*/
main {

    margin: 0;
}
button {
    background-color: #f04c2f;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: white;
    padding: 15px 30px;
    border-radius: 3px;
    text-transform: uppercase;
    border: none;
}
.headings {
        font-family: 'Montserrat', sans-serif;
        color: #25a2c3;
        line-height: 1.5;
        text-align: center;
    }
    /*Div*/
    div {
        margin-bottom: 50px;
        padding: 10%;
        background-image: url('../img/banner.jpg');
        background-size: cover;
        background-position: left;
        text-align: center;
    }

    div h1 {

        font-size: 250%;
    }

    div p {
        font-family: 'Open Sans', sans-serif;
        font-size: 120%;
    }

    /*Section*/

    .section {

        margin-bottom: 10%;
        text-align: center;
    }

    .section p {
        font-family: 'Open Sans', sans-serif;
        font-size: 145%;
    }

   

    aside img {

        
        margin-left: 10%;
        border-radius: 100%;
        
        
    }

    figure {
        margin-bottom: 10%;
        padding: 20px 10px;
        font-family: 'Open Sans', sans-serif;
        background-color: #f04c2f ;
        text-align: center;
        color: white;
    }

    blockquote h2 {

        font-weight: bold;
    }

    blockquote p {

        font-style: italic;
    }

    #ceo {

        font-size: 60%;
    }

    section section {

        padding: 30px 40px;
    }

    .sezioni_finali p {
        margin-top: 0;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
        border-bottom: 1px solid #dee1e3;
        border-right: 1px solid #dee1e3;
        border-left: 1px solid #dee1e3;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .sezioni_finali h2 {
        margin: 0;
        font-size: 80%;
        border-left: 1px solid #dee1e3;
        border-right: 1px solid #dee1e3;
    }


    /*Footer*/

    footer {
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        background-color: #25a2c3;
    }
    

   
    ul {
        list-style-type: none;
        color: white;
        }

    footer h2,footer p, footer a:link{

        color: white;
    }

     
    